header h1 {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
}
.row{
    margin-bottom: 0;
}
.worksLink , .contactLink {
    padding: 2px 0;
}

header a{ color: #000;}
header {
    padding: 40px 0;
}

.about {    
    font-size: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: capitalize;
    font-weight: 200;
    padding: 5px 6vw;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.7;
}