header h1 {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
}
.row{
    margin-bottom: 0;
}
.worksLink , .contactLink {
    padding: 2px 0;
}

header a{ color: #000;}
header {
    padding: 40px 0;
}

.about {    
    font-size: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: capitalize;
    font-weight: 200;
    padding: 5px 15vw;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.7;
}
.container {
    width: 90%;
}

.media{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5s;
}
.media img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}
.product {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}
.fullW{
    height: 450px;
}
.halfW{
    height: 350px;
}

.overlayMedia {
    position: absolute;
    background: rgba(0, 0, 0, 0.67);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.omCont p {
    font-size: 40px;
}
.product:hover .media {
    transform: scale(1.3);
}